/* uncss:ignore */
a,
a:hover,
a:link,
.menu-text a,
.menu li a.button,
.menu li a.button:hover,
footer a,
footer a:hover,
footer a:link,
.tl-text-content p a,
.tl-text-content p a:hover {
    color: #c34528;
    border-color: #c34528;
    text-decoration: none;
}
a:active,
a:visted {
    color: #3d3d3d;
}
.callout,
footer {
    padding: 24px;
}
footer,
header {
    background-color: #f2f2f2;
}
.love,
.bloodred {
    color: #c34528;
}
.darkgray {
    color: #7d7d7d;
}
.medgray {
    color: #e6e6e6;
}
.media-object-section {
    padding-right: 20px;
}
.tor-timeline {
    height: 580px;
}
.size-24 { font-size: 24px; }
.fi-clock {
    font-style: normal;
    font-weight: 300    ;
}
.media-object-section ul {
    margin-left: 40px;
}
.meta-links ul,
.things ul,
.media-object-section ul,
.tl-timeline .tl-text ul {
    display: block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#explanation {
    background-color: #e3e3e3;  
}